* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Roboto', 'Roboto Condensed' sans-serif;
}

:root {
  --main-color: #EC644B;
  --main-color-hover: #DC5238;
  --second-color: #25333C;
  --title-color: #2e2e2e;
  --text-color: #3a3a3a;
}